<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Нашим героям</title>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700,700italic&subset=latin,cyrillic" />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/chosen.css" />

        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="js/chosen.jquery.min.js"></script>
        <script src="js/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
        <script src="js/jquery.fileupload/js/tmpl.min.js"></script>
        <script src="js/jquery.fileupload/js/jquery.iframe-transport.js"></script>
        <script src="js/jquery.fileupload/js/jquery.fileupload.js"></script>
        <script src="js/jquery.fileupload/js/jquery.fileupload-process.js"></script>
        <script src="js/jquery.fileupload/js/jquery.fileupload-validate.js"></script>
        <script src="js/jquery.fileupload/js/jquery.fileupload-ui.js"></script>
        <script src="js/tools.js"></script>

        <meta name="viewport" content="width=1024" />
    </head>

    <body>

        <header>
            <div class="header-inner">
                <nav>
                    <ul>
                        <li><a href="#about">О конкурсе</a></li>
                        <li><a href="#registration">Зарегистрироваться</a></li>
                        <li><a href="#news">Новости</a></li>
                        <li><a href="#partners">Партнеры</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                    </ul>
                </nav>

                <div class="header-fund"><a href="#"><img src="images/header-fund.png" alt="" width="99" height="29" /></a></div>

                <div class="header-social">
                    <a href="#" class="header-social-1"></a>
                    <a href="#" class="header-social-2"></a>
                    <a href="#" class="header-social-3"></a>
                    <a href="#" class="header-social-4"></a>
                    <a href="#" class="header-social-5"></a>
                </div>
            </div>
        </header>

        <!-- wrapper -->
        <div class="wrapper">
            <div class="wrapper-inner">

                <!-- main top -->
                <div class="main-top-bg">
                    <div class="main-top-inner">
                        <div class="main-top-title">Нашим Героям</div>
                        <div class="main-top-text">Музыкальный конкурс к 70-летию Великой Победы</div>
                    </div>
                    <div class="main-top-period-title">Cроки проведения конкурса</div>
                    <div class="main-top-period-text">с 28 августа по 26 сентября 2014 года</div>
                </div>
                <!-- main top END -->

                <!-- about -->
                <section id="about">
                    <div class="about-title">О проекте</div>
                    <div class="about-text">
                        <div class="about-col">
                            В преддверии 70-летия Великой Победы мы проводим открытый конкурс среди музыкантов - профессионалов и любителей на лучшее музыкальное произведение (оригинальная аранжировка или авторская песня), посвященное, подвигу нашего многонационального народа в Великой Отечественной войне, памяти погибших защитников Отечества и сохранению воинской Славы России.
                            <div class="about-reg">В ближайшее время на нашем сайте<br />откроется прием заявок на участие в конкурсе</div>
                            <div class="about-prize">Оргкомитет выделил призовой фонд для&nbsp;награждения победителей конкурса</div>
                        </div>
                        <div class="about-col">
                            Победители и активные участники конкурса «Нашим Героям» будут отмечены высокими гражданскими, а также наградами партнерских министерств и ведомств. Победителей конкурса примут участие в концерте в Москве вместе с известными артистами и музыкантами.
                            <div class="about-doc">
                                <div class="about-doc-link"><a href="#">Скачать пресс-релиз</a></div>
                                <div class="about-doc-size">(PDF, 1 МГб)</div>
                            </div>
                        </div>
                    </div>

                    <div class="about-links">
                        <a href="#"><span>Узнать<br />больше</span></a>
                        <a href="#"><span>История<br />проекта</span></a>
                    </div>
                </section>
                <!-- about END -->

                <!-- registration -->
                <section id="registration">
                    <div class="reg">
                        <div class="reg-title"><img src="images/reg-title.png" alt="" width="910" height="49" /></div>
                        <div class="reg-text">всех профессиональных музыкантов и любителей,<br />вне зависимости от жанра</div>
                        <div class="reg-genre-title">Приветствуются музыкальные жанры</div>
                        <div class="reg-genre">
                            Поп <span>/</span>
                            Рок <span>/</span>
                            Реп <span>/</span>
                            Шансон <span>/</span>
                            Бардовская песня <span>/</span>
                            Классическая музыка <span>/</span>
                            Жанр инструментальной музыки <span>/</span>
                            DJ<br />
                            Этническая (народная) <span>/</span>
                            Соул <span>/</span>
                            Смешанные жанры - фьюжн.
                        </div>
                        <div class="form-title">Регистрация на проекте</div>
                        <form action="#" method="post" class="fileupload" enctype="multipart/form-data">
                            <fieldset>
                                <legend>Информация об участнике / коллективе</legend>
                                <div class="reg-fieldset-1">
                                    <div class="form-row">
                                        <div class="form-input"><span>ФИО / Название коллектива <em>*</em></span><input type="text" name="name" value="" class="required" /></div>
                                        <div class="form-select">
                                            <select name="genre" data-placeholder="Выберите жанр *">
                                                <option value=""></option>
                                                <option value="1">Классика</option>
                                                <option value="2">Рок</option>
                                                <option value="3">Поп</option>
                                                <option value="4">Рэп</option>
                                                <option value="5">Кавер</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-input form-input-2"><span>Ваша страна</span><input type="text" name="country" value="" /></div>
                                        <div class="form-input form-input-3"><span>Город, который представляете</span><input type="text" name="city" value="" /></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-input form-input-4"><span>Электронная почта <em>*</em></span><input type="text" name="email" value="" class="required email" /></div>
                                        <div class="form-input form-input-5"><span>Телефон</span><input type="text" name="phone" value="" /></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-input form-input-6"><span>Текст о себе</span><textarea name="about" rows="5" cols="10"/></textarea></div>
                                    </div>
                                    <div class="form-subtitle">Фотографии</div>
                                    <div class="files-list">
                                        <table role="presentation">
                                            <tbody class="files">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="window-import-link">
                                        <div class="fileinput-button">
                                            <span>Загрузить еще</span>
                                            <input type="file" name="files[]" multiple />
                                        </div>
                                    </div>

                                    <!-- The template to display files available for upload -->
                                    <script id="template-upload" type="text/x-tmpl">
                                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                                            <tr class="template-download fade">
                                                <td><div class="files-item-name"><div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar" style="width:0"></div></div><span>{%=file.name%}</span></div></td>
                                                <td>
                                                    {% if (!i) { %}
                                                    <button class="cancel files-item-stop"></button>
                                                    {% } %}
                                                    <div class="files-item-error error"></div>
                                                </td>
                                            </tr>
                                        {% } %}
                                    </script>

                                    <!-- The template to display files available for download -->
                                    <script id="template-download" type="text/x-tmpl">
                                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                                            <tr class="template-download fade">
                                                <td><div class="files-item-name"><span>{%=file.name%}</span></div></td>
                                                <td>
                                                    {% if (file.deleteUrl) { %}
                                                        <button class="delete files-item-del" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}></button>
                                                    {% } %}

                                                    {% if (file.error) { %}
                                                        <div class="files-item-error">— загрузка файла не удалась из-за <span>{%=file.error%}</span></div>
                                                    {% } %}
                                                </td>
                                            </tr>
                                        {% } %}
                                    </script>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Файлы для заявки</legend>
                                <div class="reg-fieldset-2-cols">
                                    <div class="reg-fieldset-2-col-1">
                                        <div class="form-subtitle">Аудиофайл <span>*</span></div>
                                        <div class="form-filelink">
                                            <div class="form-filelink-value"><span></span><strong></strong></div>
                                            <div class="form-filelink-top">
                                                <div class="form-input"><input type="text" name="url1" value="http://" /></div>
                                                <div class="form-filelink-top-or">или</div>
                                                <div class="form-filelink-top-file"><span rel="Загрузить заново" rev="Загрузить файл">Загрузить файл</span><input type="file" name="file1" value=""></div>
                                                <div class="form-filelink-top-url">&nbsp;/ <span>Вставить ссылку</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reg-fieldset-2-col-2">
                                        <div class="form-subtitle">Видеофайл <span>*</span></div>
                                        <div class="form-filelink">
                                            <div class="form-filelink-value"><span></span><strong></strong></div>
                                            <div class="form-filelink-top">
                                                <div class="form-input"><input type="text" name="url1" value="http://" /></div>
                                                <div class="form-filelink-top-or">или</div>
                                                <div class="form-filelink-top-file"><span rel="Загрузить заново" rev="Загрузить файл">Загрузить файл</span><input type="file" name="file1" value=""></div>
                                                <div class="form-filelink-top-url">&nbsp;/ <span>Вставить ссылку</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-bottom">
                                <div class="form-checkbox"><span><input type="checkbox" name="rules" checked="checked required" /></span>Согласен/на с передачей прав на использование и воспроизведение произведения</div>
                                <div class="form-hint"><span>*</span> — поля, обязательные для заполнения</div>
                            </div>
                            <div class="form-submit"><input type="submit" value="Зарегистрироваться" /></div>
                        </form>
                    </div>
                </section>
                <!-- registration END -->

                <!-- news -->
                <section id="news">
                    <div class="news-inner">
                        <div class="news-title">Новости проекта</div>
                        <div class="news-slider">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-1.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Продлен срок подачи заявок</div>
                                        <div class="news-anonce">Решением дирекции конкурса срок подачи заявок на Второй Всероссийский музыкальный конкурс продлен до 31 июля</div>
                                        <div class="news-date">12 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-2.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">10 января 2014 года - Гала-концерт лауреатов Всероссийского музыкального конкурса</div>
                                        <div class="news-anonce">10 января в Концертном зале им. П.И. Чайковского состоится Гала-концерт лауреатов I Всероссийского музыкального конкурса. В концерте примут участие победители разных лет конкурса</div>
                                        <div class="news-date">10 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-3.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Лауреаты по&nbsp;специальности «народные инструменты»</div>
                                        <div class="news-anonce">Определены лауреаты I Всероссийского музыкального конкурса в номинациях домра, балалайка и гитара</div>
                                        <div class="news-date">09 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-4.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Объявлены победители в номинации «баян и&nbsp;аккордеон»</div>
                                        <div class="news-anonce">Со 2 по 4 декабря в Российской академии музыки им. Гнесиных прошли прослушивания III тура по специальности «баян и аккордеон»</div>
                                        <div class="news-date">08 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-1.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Продлен срок подачи заявок</div>
                                        <div class="news-anonce">Решением дирекции конкурса срок подачи заявок на Второй Всероссийский музыкальный конкурс продлен до 31 июля</div>
                                        <div class="news-date">12 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-2.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">10 января 2014 года - Гала-концерт лауреатов Всероссийского музыкального конкурса</div>
                                        <div class="news-anonce">10 января в Концертном зале им. П.И. Чайковского состоится Гала-концерт лауреатов I Всероссийского музыкального конкурса. В концерте примут участие победители разных лет конкурса</div>
                                        <div class="news-date">10 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-3.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Лауреаты по&nbsp;специальности «народные инструменты»</div>
                                        <div class="news-anonce">Определены лауреаты I Всероссийского музыкального конкурса в номинациях домра, балалайка и гитара</div>
                                        <div class="news-date">09 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-4.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Объявлены победители в номинации «баян и&nbsp;аккордеон»</div>
                                        <div class="news-anonce">Со 2 по 4 декабря в Российской академии музыки им. Гнесиных прошли прослушивания III тура по специальности «баян и аккордеон»</div>
                                        <div class="news-date">08 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-1.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Продлен срок подачи заявок</div>
                                        <div class="news-anonce">Решением дирекции конкурса срок подачи заявок на Второй Всероссийский музыкальный конкурс продлен до 31 июля</div>
                                        <div class="news-date">12 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-2.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">10 января 2014 года - Гала-концерт лауреатов Всероссийского музыкального конкурса</div>
                                        <div class="news-anonce">10 января в Концертном зале им. П.И. Чайковского состоится Гала-концерт лауреатов I Всероссийского музыкального конкурса. В концерте примут участие победители разных лет конкурса</div>
                                        <div class="news-date">10 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-3.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Лауреаты по&nbsp;специальности «народные инструменты»</div>
                                        <div class="news-anonce">Определены лауреаты I Всероссийского музыкального конкурса в номинациях домра, балалайка и гитара</div>
                                        <div class="news-date">09 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-4.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Объявлены победители в номинации «баян и&nbsp;аккордеон»</div>
                                        <div class="news-anonce">Со 2 по 4 декабря в Российской академии музыки им. Гнесиных прошли прослушивания III тура по специальности «баян и аккордеон»</div>
                                        <div class="news-date">08 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-1.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Продлен срок подачи заявок</div>
                                        <div class="news-anonce">Решением дирекции конкурса срок подачи заявок на Второй Всероссийский музыкальный конкурс продлен до 31 июля</div>
                                        <div class="news-date">12 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-2.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">10 января 2014 года - Гала-концерт лауреатов Всероссийского музыкального конкурса</div>
                                        <div class="news-anonce">10 января в Концертном зале им. П.И. Чайковского состоится Гала-концерт лауреатов I Всероссийского музыкального конкурса. В концерте примут участие победители разных лет конкурса</div>
                                        <div class="news-date">10 сентября 2014</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="news-photo"><img src="files/news-3.jpg" alt="" width="234" height="149" /></div>
                                        <div class="news-name">Лауреаты по&nbsp;специальности «народные инструменты»</div>
                                        <div class="news-anonce">Определены лауреаты I Всероссийского музыкального конкурса в номинациях домра, балалайка и гитара</div>
                                        <div class="news-date">09 сентября 2014</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="news-end">
                            <div class="news-ctrl"></div>
                            <div class="news-all"><a href="#">Все новости</a></div>
                        </div>
                    </div>
                </section>
                <!-- news END -->

                <!-- partners -->
                <section id="partners">
                    <div class="partners-org">
                        <div class="partners-org-title">Организаторы</div>
                        <div class="partners-org-list">
                            <div class="partners-org-subtitle">соОрганизаторы</div>
                            <a href="#" class="partners-org-1"><img src="images/partner-1.png" alt="" width="196" height="218" /></a>
                            <a href="#" class="partners-org-2"><img src="images/partner-2.png" alt="" width="226" height="89" /></a>
                            <a href="#" class="partners-org-3"><img src="images/partner-3.png" alt="" width="131" height="111" /></a>
                        </div>
                    </div>

                    <div class="partners-support">
                        <div class="partners-support-title">При поддержке</div>
                        <div class="partners-support-list">
                            <a href="#"><img src="files/partner-01.png" alt="" width="99" height="104" /></a>
                            <a href="#"><img src="files/partner-02.png" alt="" width="87" height="85" /></a>
                            <a href="#"><img src="files/partner-03.png" alt="" width="126" height="104" /></a>
                            <a href="#"><img src="files/partner-04.png" alt="" width="140" height="65" /></a>
                            <a href="#"><img src="files/partner-05.png" alt="" width="140" height="33" /></a>
                            <a href="#"><img src="files/partner-06.png" alt="" width="120" height="93" /></a>
                            <a href="#"><img src="files/partner-07.png" alt="" width="117" height="83" /></a>
                            <a href="#"><img src="files/partner-08.png" alt="" width="129" height="50" /></a>
                            <a href="#"><img src="files/partner-09.png" alt="" width="97" height="97" /></a>
                            <a href="#"><img src="files/partner-10.png" alt="" width="139" height="139" /></a>
                        </div>
                    </div>

                    <div class="partners-info">
                        <div class="partners-support-title">Информационные Партнеры</div>
                        <div class="partners-support-list">
                            <a href="#"><img src="files/partner-04.png" alt="" width="140" height="65" /></a>
                            <a href="#"><img src="files/partner-05.png" alt="" width="140" height="33" /></a>
                            <a href="#"><img src="files/partner-08.png" alt="" width="129" height="50" /></a>
                            <a href="#"><img src="files/partner-06.png" alt="" width="120" height="93" /></a>
                        </div>
                    </div>

                    <div class="partners-part">
                        <div class="partners-support-title">Партнеры</div>
                        <div class="partners-support-list">
                            <a href="#"><img src="files/partner-11.png" alt="" width="140" height="140" /></a>
                            <a href="#"><img src="files/partner-11.png" alt="" width="140" height="140" /></a>
                            <a href="#"><img src="files/partner-11.png" alt="" width="140" height="140" /></a>
                            <a href="#"><img src="files/partner-11.png" alt="" width="140" height="140" /></a>
                            <a href="#"><img src="files/partner-11.png" alt="" width="140" height="140" /></a>
                            <a href="#"><img src="files/partner-11.png" alt="" width="140" height="140" /></a>
                        </div>
                    </div>

                    <div class="partners-welcome">
                        <div class="partners-link"><img src="images/partners-link.png" alt="" width="939" height="44" /></div>
                        <div class="partners-text">к участию в проекте</div>
                    </div>
                </section>
                <!-- partners END -->

            </div>
        </div>
        <!-- wrapper END -->

        <footer id="contacts">

            <!-- footer map -->
            <div class="footer-map">
                <div id="map"></div>
                <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
                <script type="text/javascript">
                    ymaps.ready(init);

                    var myMap;

                    function init () {
                        myMap = new ymaps.Map('map', {
                            center: [56.136, 40.390],
                            zoom: 16
                        });

                        var myGeocoder = ymaps.geocode('г. Москва, Волгоградский проспект, 35, офис 306');
                        myGeocoder.then(
                            function (res) {
                                var coords = res.geoObjects.get(0).geometry.getCoordinates();
                                myMap.setCenter(coords);
                            },
                            function (err) {
                                alert('Ошибка');
                            }
                        );

                    }
                </script>
                <div class="map-inner">
                    <div class="map-inner-container">
                        <div class="map-address">Адрес: 109316, г. Москва,<br /><strong>Волгоградский проспект, 35, офис 306</strong></div>
                        <div class="map-phone">Телефон<br />+7 (495) <strong>507-00-23</strong></div>
                        <div class="map-email">E-mail<br /><a href="#"><strong>info@nashimgeroyam.ru</strong></a></div>
                    </div>
                </div>
            </div>
            <!-- footer map END -->

            <!-- footer content -->
            <div class="footer-content">
                <div class="footer-left">
                    <div class="copyrights">© 2014, <a href="#">Нашим героям</a><br />Музыкальный конкурс к 70-летию Великой Победы</div>
                    <div class="footer-logo"><a href="http://bilingo.ru" target="_blank"><img src="images/footer-logo.png" alt="" width="141" height="49" /></a></div>
                </div>
                <div class="footer-right">
                    <div class="footer-menu">
                        <a href="#">Карта сайта</a> &nbsp;/&nbsp;
                        <a href="#">Правила использования материалов</a>
                    </div>
                    <div class="footer-social">
                        <a href="#" class="footer-social-1"></a>
                        <a href="#" class="footer-social-2"></a>
                        <a href="#" class="footer-social-3"></a>
                        <a href="#" class="footer-social-4"></a>
                        <a href="#" class="footer-social-5"></a>
                    </div>
                </div>
            </div>
            <!-- footer content END -->

        </footer>

    </body>
</html>